apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
  namespace: dashboard-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: fcavarzare/dashboard-k8s:fcb86ff3184a3098c66a9d9749816ceecd51a860
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
