apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
  namespace: dashboard-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: fcavarzare/dashboard-k8s:a84bce0fa499366b1d21bd4f5acbe0740b040d22
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
