apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
  namespace: dashboard-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: fcavarzare/dashboard-k8s:67a1d19a7a8b8f2a98f08ca1e3fd1b1cf32d3917
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
