apiVersion: v1
kind: Service
metadata:
  name: dashboard
  namespace: dashboard-dev
spec:
  type: ClusterIP
  selector:
    app: dashboard
  ports:
    - name: http
      port: 8080
      targetPort: 8080