apiVersion: v1
kind: Service
metadata:
  name: dashboard
  namespace: dashboard
spec:
  type: NodePort
  selector:
    app: dashboard
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080