apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
  namespace: dashboard-qa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: fcavarzare/dashboard-k8s:c4982114d3f7a1cb520ee560f4d8cc2527f93da9
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
