apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
  namespace: dashboard-qa
spec:
  replicas: 4
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: fcavarzare/dashboard-k8s:5146b8b65ef1616dc737d8f5d5ae88d6daf9c961
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
