apiVersion: apps/v1
kind: Deployment
metadata:
  name: dashboard
  namespace: dashboard-qa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dashboard
  template:
    metadata:
      labels:
        app: dashboard
    spec:
      containers:
        - name: dashboard
          image: fcavarzare/dashboard-k8s:78cc06ca02fe125768dbde5f704192744c3f143f
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
